[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}


.rowClass {
color: red;}

.rowOddClass {
color: green;}


.rowEvenClass {
color: blue;}



input.ng-dirty.ng-invalid
{
	border: solid 5px red;
}