<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Cache Sample    </title>
        <link rel="stylesheet" type="text/css" href="./lib/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="./css/app.css">
    </head>
    <body ng-app="eventsApp">
        <div class="container" ng-cloak>
            <div ng-controller="CookiesSampleController">

            <button class="btn btn-primary"  ng-click="saveEventToCookie(event)" type="button">Store Cookie</button><br/><br/>
            <button class="btn btn-primary"  ng-click="getEventFromCookie()" type="button">Get Cookie</button><br/><br/>
            <button class="btn btn-primary"  ng-click="removeEventCookie()" type="button">Remove Cookie</button><br/><br/>
            Cookie Value: {{cookieValue}}
      
            </div>
        </div>
        
        <script src="./lib/jquery/jquery-2.2.1.js"></script>
        <script src="./lib/angular/angular.js"></script>
        <script src="./lib/angular/tmhDynamicLocale.js"></script>
        <script src="./lib/angular/angular-resource.js"></script>
        <script src="./lib/angular/angular-sanitize.js"></script>
        <script src="./lib/angular/angular-cookies.js"></script>
        <script src="./lib/bootstrap/js/bootstrap.js"></script>
        <script src="./js/app.js"></script>
        <script src="./js/directives.js"></script>
        <script src="./js/filters.js"></script>
        <script src="./js/services/MyCache.js"></script>
        <script src="./js/controllers/CookiesSampleController.js"></script>
        
        
    </body>
</html>