<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Cache Sample    </title>
        <link rel="stylesheet" type="text/css" href="./lib/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="./css/app.css">
        <link rel="stylesheet" type="text/css" href="./lib/jquery-ui/jquery-ui.css">
    </head>
    <body ng-app="eventsApp">
        <div class="container" ng-cloak>
            <div class="navbar" ng-controller="MainMenuController">
                <div class="navbar-inner">
                    <ul class="nav">
                    <li>
                            <a href="#" ng-click='setHash()'>Set Has</a>
                        </li>
                    <li>
                            <a href="#" ng-click='createEvent()'>New event Through location</a>
                        </li>
                        <li>
                            <a href="#">About Us</a>
                        </li>
                        <li>
                            <a href="#/newEvent">New Event</a>
                        </li>
                        <li>
                            <a href="#/events">Events</a>
                        </li>
                         <li>
                            <a href="#/custom/1">Custom Template</a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <ng-view></ng-view>
        </div>
        
        <script src="./lib/jquery/jquery-2.2.1.js"></script>
        <script src="./lib/jquery-ui/jquery-ui.js"></script>
        <script src="./lib/angular/angular.js"></script>
        <script src="./lib/angular/tmhDynamicLocale.js"></script>
        <script src="./lib/angular/angular-resource.js"></script>
        <script src="./lib/angular/angular-route.js"></script>    
        <script src="./lib/angular/angular-sanitize.js"></script>
        <script src="./lib/angular/angular-cookies.js"></script>
        <script src="./lib/bootstrap/js/bootstrap.js"></script>

        <script src="./js/app.js"></script>
        <script src="./js/services/MD5Builder.js"></script>
        <script src="./js/services/TemplateBuilder.js"></script>
        <script src="./js/appConfig.js"></script>
        

        <script src="./js/directives.js"></script>
        <script src="./js/filters.js"></script>
        <script src="./js/services/MyCache.js"></script>
        <script src="./js/services/EventData.js"></script>
        <script src="./js/services/BuildGravatarUrl.js"></script>
        <script src="./js/controllers/GreetingController.js"></script>
        <script src="./js/controllers/MainMenuController.js"></script>
        <script src="./js/controllers/EditEventController.js"></script>
        <script src="./js/controllers/EventController.js"></script>
        <script src="./js/controllers/EditProfileController.js"></script>
        <script src="./js/controllers/EventListController.js"></script>
        <script src="./js/controllers/SampleDirectiveController.js"></script>
        <script src="./js/directives/MySampleDirective.js"></script>
        <script src="./js/directives/ThumbNailDirective.js"></script>
        <script src="./js/directives/VotingWidgetDirective.js"></script>
        <script src="./js/directives/GravatarDirective.js"></script>
        <script src="./js/directives/CollapsibleDirective.js"></script>
        <script src="./js/directives/DatePickerDirective.js"></script>
        <script src="./js/directives/OnlyValidDateKeys.js"></script>
    </body>
</html>